<div id="formscontainer">
    <div id=addaccount>
        <form method="post" action="/addaccount">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="number" name="age" placeholder="Age">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Create Account</button>
        </form>
    </div>
</div>